form {
    position: fixed;
    width: 200px;
    margin-left: 20px;
    margin-top: 55px;
    
textarea{
    width: 500px;
    border-radius: 15px;
    border-color: #DBB671;
    &:active{
        border-color: #DBB671;
        color: #DBB671;
    }
    
}

input {
    border-radius: 10px;
    background-color: white;
    color: #DBB671;
    border: 0.2px solid rgb(95, 163, 227);
    border-color: #DBB671;
    
}
legend{
    color: #DBB671;
    font-style: italic;
    margin-bottom: 0px;
    
}
    
}



#position_comm{
    margin-top: 50px;
}

#bloc_message{
    margin-top: 15px;
}



//css des classes .prenom_user & .message_user
.prenom_user{
    font-size: 15px;
    color: #DBB671;
    font-style: italic;
    text-align: center;
    margin-left: 20px;
}

.message_user{
    font-size: 15px;
    text-align: center;
    margin-left: 20px;
}




/*bloc englobant le nom + api*/
#general{
    display: flex;
    justify-content: center;
  }
  
  .container{
    position: absolute;
  }
  
  /*css de la phrase "Hello + prenom*/
  #prenom{
    display: flex;
    width: 100%;
    color: #DBB671;
    font-size: 25px;
    font-style: italic;
    margin-left: 10px;
    margin-top: 10px;
    
  }