/*bloc englobant le nom + api*/
#general {
  display: inline;

}

.container {

  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%;

}

/*css de la phrase "Hello + prenom*/
#prenom {
  position: fixed;
  width: 30%;
  color: #DBB671;
  font-size: 25px;
  font-style: italic;
  top: 105px;
  left: 10px;


}

#ul1 {
  height: 100%;
}

.li1 {
  margin-left: 16px;
  margin-right: 16px;
  width: 150px;
}

.lien {
  text-decoration: none;
  color: white;

  &:hover {
    color: black;
  }
}

#ville {
  text-transform: capitalize;
}



//css API meteo
#temperature {
  font-size: 4em;
}

#changer {
  background: #DBB671;
  cursor: pointer;
  border-radius: 15px;
}



//bloc div du bouton de retour
#bloc-btn{
text-align: center;

//bouton de retour
#bouton_retour{

text-align: center;
  background-color: #DBB671;
  border-radius: 15px;
  border-width: 0.2px;
  border-color: black;
  color: white;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
  &:hover{
    background-color: white;
    color: #DBB671;
  }
}
}