#all_actualites {
    display: flex;
   justify-content: center;
    margin-top: 10px;

    



//class comprenant toutes les photos/liens de sport
    .sport {
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid #DBB671;
        display: block;

    }

    //class comprenant toutes les photos/liens de médias
    .medias {
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid #DBB671;
        display: block;
    }

    //class comprenant toutes les photos/liens de réseaux socials
    .social {
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid #DBB671;
        display: block;
    }

}

p {
    color: #DBB671;
    margin-top: 150px !important;
    font-size: 40px;
    font-style: italic;
    text-align: center;

}

//bloc englobant les 3 spans = titres 
#spans{
display: flex;
justify-content: center;


span {
    text-align: center;
    font-size: 25px;
    color: #DBB671;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;

}

}


