// body{
//     background-image: url("/lets-talk/image/logo-nu.jpg");
//     background-repeat: no-repeat;
// 	background-size: cover;
// 	background-position: center;
// 	height: 100vh;
// }


#container_hors_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    


}

#carouselExampleCaptions {
    width: 500px;
}

